 * 
 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
 };

 body{
  background-color:rgb(235, 235, 235);
}

h1, h3  {
  
  color: rgb(10, 10, 56) !important;
 font-weight: bold !important;
}

h2 {
  
  color: rgb(10, 10, 56) !important;
  font-weight: 500 !important;
}

p {
  color: rgb(117, 117, 117);
}



.logo {
  max-width:25%;   
}


#HeaderMT .Hero  img
{
    max-width: 100%;
}

.grid-container {
  text-align: center;
}


 .grid-container  img
{
    max-width: 100%;
    width: 80%;
    border-radius: 10px;
} 


footer {
  position: relative;
  background: url(./assets/mobile/image-footer.jpg);
  background-size: cover;
  /* filter: brightness(75%) saturate(100%); */
  background-position: center;
  height: 400px;
}


 footer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  background: rgba(25, 72, 102, 0.7);
} 


@media (min-width: 600px) {
  .logo {
    max-width: 50%; 
    margin-top: 2em;  
  }


  #HeroArea{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #HeroArea .hero-text 
  {
    padding:2em;       
  }

  #HeaderD .Hero-Img
  {
    max-width: 50%;
  }

  footer {
    background: url(./assets/tablet/image-footer.jpg);
    background-size: cover;
    background-position: top center;
    height: 50vh;
  }

 
  
} 




@media (min-width: 900px) {

  footer {
    background: url(./assets/desktop/image-footer.jpg);
    background-size: cover;
    background-position: top center;
    height: 250px;
  }

  footer::after {
    height: 250px;
  }
  
  
  
} 